*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 0 4rem;
    padding-top: 5rem;
}

.container{ 
    margin: 0 auto;
    height: 450px;
    min-width: 350px;
    max-width: 1200px;
    background-color: black;
    position: relative;
    /* overflow: hidden; */
}


/* Sliders Uniformity*/
.slider{
    width: 100%;
    height: 100%;
    padding: 1rem;
    transition: 0.3s;
}

.sliderContent{
    padding: 4rem;
}

/* Slider Pages */
.s1{
    background-color: rgb(0, 145, 255);
    position: absolute;
}

.s2{  
    background-color: rgb(138, 43, 255);
    position: absolute;
}

.s3{
    background-color: rgb(255, 35, 108);
    position: absolute;
}

.s4{
    background-color: rgb(255, 244, 33);
    position: absolute;
}

.s5{
    background-color: rgb(216, 0, 195);
    position: absolute;
}


.iconArrow{
    fill: white;
    cursor: pointer;
    position: absolute;
    z-index: 11;
}

.left{
    top: 50%;
    left: 1rem;
}

.right{
    top: 50%;
    right: 1rem;
}

.activeSlider{
    z-index: 10;
}




